@import 'utilities.css';

:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    /* background-color: var(--dark); */
    font-family: poppins, Arial, Helvetica, sans-serif;
}

.header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 81%, 0 100%);
}
    


header nav .left a{
    color: var(--pure);
    font-size: medium ; 
    margin-left: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease ;
    
}

header nav .left a:hover{
    color: var(--primary);
    text-decoration: underline;
    font-size: 15px ; 
}

header nav{
    padding: 1rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.logos{
    width: 90px;
}

.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.content{
    padding: 3rem 0;;
}

.content .left img{
    width: 400px;
}

.content .right{
    color: var(--pure);
    margin-top: -7rem;
}

.content .right h6{
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.content .right h1{
    font-size: 3.7rem;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.content .right h1 span{
    color: var(--primary);
}

.content .right p{
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 2.2rem;
}

section.about{
   padding: 6rem; 
}

section.about .container .right h1{
    margin-bottom: 3rem;    
    font-size: 2rem;
    font-weight: 500;
}

section.about .container .right h1 span{
    color: var(--primary);
}

section.about .container .right h3{
    color: var(--ternary);
    margin-bottom: 1.5rem;
    font-weight: 400;
}

section.about .container .right p{
    font-family: lato, Arial, Helvetica, sans-serif;
    color: var(--ternary);
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 1.2rem; 
}

section.projects{
    padding: 6rem;
    background-color: var(--light);
}

section.projects .container .top-projects h1{
    font-size: 2rem;
    font-weight: 500;
}

section.projects .container .top-projects h1 span{
    color: var(--primary);
}

section.projects .container .top-projects h3{
    font-family: lato, Arial, Helvetica, sans-serif;
    color: var(--ternary);
    font-size: 1.3rem;
    font-weight: 400;
}

section.projects .container .buttom-projects{
    background-color: var(--light);
}   

section.projects .container .buttom-projects .project-1{
    padding: 3rem 2rem;
    background-color: var(--pure);
    position: relative;
    transition: all 0.3s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
section.projects .container .buttom-projects .project-1:hover{
    background-color: var(--dark);
    color: var(--pure);
}

section.projects .container .buttom-projects .project-1 img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translate(-50%);
}
section.projects .container .buttom-projects .project-1 h2{
    text-align: center;
    font-family: lato, Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

section.projects .container .buttom-projects .project-1 details{
    text-align: center;
    font-family: lato, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--ternary);
}

section.projects .container .buttom-projects .project-1 .p{
    text-align: start;
    margin-top: 1.5rem;
    line-height: 1.5rem;
}

section.freelancer{
    padding: 6rem;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 81%, 0 100%);
    padding-bottom: 14rem;
}

section.freelancer .container h1{
    /* text-align: center; */
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

section.freelancer .container h1 span{
    color: var(--primary);

}

section.freelancer .container p{
    /* text-align: center; */
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: var(--light);
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
}