@import 'utilities.css';

:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    /* background-color: var(--dark); */
    font-family: poppins, Arial, Helvetica, sans-serif;
}

.header{
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 81%, 0 100%);
}
    


header nav .left a{
    color: var(--pure);
    font-size: medium ; 
    margin-left: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease ;
    
}

header nav .left a:hover{
    color: var(--primary);
    text-decoration: underline;
    font-size: 15px ; 
}

header nav{
    padding: 1rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.logos{
    width: 90px;
}

.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.content{
    padding: 3rem 0;;
}

.content .left img{
    width: 400px;
}

.content .right{
    color: var(--pure);
    margin-top: -7rem;
}

.content .right h6{
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.content .right h1{
    font-size: 3.7rem;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.content .right h1 span{
    color: var(--primary);
}

.content .right p{
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 2.2rem;
}

section.about{
   padding: 6rem; 
}

section.about .container .right h1{
    margin-bottom: 3rem;    
    font-size: 2rem;
    font-weight: 500;
}

section.about .container .right h1 span{
    color: var(--primary);
}

section.about .container .right h3{
    color: var(--ternary);
    margin-bottom: 1.5rem;
    font-weight: 400;
}

section.about .container .right p{
    font-family: lato, Arial, Helvetica, sans-serif;
    color: var(--ternary);
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 1.2rem; 
}